.auhor{
    margin-bottom: 100px;
}

.auhor__hr {
    width: 350px;
    left: -160px;
    bottom: 845px;
}

.auhor p {
    font-size: 20px;
    font-weight: 400;
}

.auhor__content{
    margin-bottom: 100px;
}