.goal {
    color: #fff;
    background-image: url('/assets/img/main-bg.png');
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.goal__hr{
    width: 453px;
}

.goal .values p {
    font-weight: 300;
}