.main-block {
    background-image: url('../../assets/img/main-bg.png');
    color: #fff;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

