.main {
    margin-bottom: 100px;
}

.main p{
    font-size: 16px;
    font-weight: 200;
}

.main__price-btn{
    font-size: 20px;
    font-weight: 600;
}

.disc{
    font-size: 12px!important;
}