.popular{
    margin-bottom: 180px;
}

.popular__hr{
    width: 308px;
}

.popular__hr{
    width: 308px;
}

.hr-vertical-popular{
    width: 200px;
    left: -80px;
    bottom: 67px;
}

.popular_header{
    margin-bottom: 100px;
}

.popular_content{
    padding-top: 110px;
}