.strategy{
    padding-bottom: 120px;
    color: #fff;
    background-image: url('../../../assets/img/strategy-bg.png');
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.strategy__hr {
    width: 359px;
    margin-bottom: 150px;
}

.goal h5{
    font-style: italic;
    margin-bottom: 80px;
}


.values{
    margin-bottom: 50px;
}

.goal p{
    font-size: 20px;
}